@media screen and (max-width: 844px) {

    .home-img {
        display: none;
    }

    #languages {
        display: none;
    }

    #projects-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    
    #languages {
        display: none;
    }

    #projects-container {
        grid-template-columns: repeat(1, 1fr);
    }

    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
        justify-content: center;
    }
}