@media screen and (max-width: 844px) {

    nav{
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        height: 30vh;
        padding: 30px;
    }

    .home-img {
        display: none;
    }

    #languages {
        width: 100%;
    }

    #languages #languages-container {
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        
    }

    #projects-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
    
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 450px) {
    
    #languages {
       display: none;
    }

    #projects-container {
        grid-template-columns: repeat(1, 1fr);
    }

    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
        justify-content: center;
    }
}